{% extends 'base.html' %}

{% block title %}EasyMart - Fornecedores{% endblock %}

{% block content %}
    <h1>Fornecedores</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for fornecedor in fornecedores %}
            <tr>
                <td>{{ fornecedor.nome }}</td>
                <td>{{ fornecedor.email }}</td>
                <td>{{ fornecedor.telefone }}</td>
                <td>{{ fornecedor.cidade }}</td>
                <td>{{ fornecedor.estado }}</td>
                <td>
                    <a href="{% url 'detalhes_fornecedor' fornecedor.id %}">Ver Produtos</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Nenhum fornecedor cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
